<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NBA ML Predictions</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('mvp_predictor') }}">MVP Predictor</a>
            <a href="{{ url_for('game_predictor') }}">Game Predictor</a>
            <a href="{{ url_for('info') }}">Info</a>
        </div>

        <div class="content">
                <h1>Welcome to the NBA Tracker</h1>
                <p><b>Currently the MVP Predictor is the only working page, the others are being worked on...</b></p>
                <p>Please select an option from the navigation bar to get started.</p>
        </div>

        <div class="home-image">
        </div>

        <div class="bottom">
            <p>&copy 2024, Created by Syad Khwajazada</p>
        </div>
    </body>
</html>
